/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

.card.nightMode code[class*="language-"],
.card.nightMode pre[class*="language-"] {
  color: white;
  background: none;
  text-shadow: 0 -0.1em 0.2em black;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

.card.nightMode pre[class*="language-"],
.card.nightMode :not(pre) > code[class*="language-"] {
  background: hsl(30, 20%, 25%);
}

/* Code blocks */
.card.nightMode pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 0.3em solid hsl(30, 20%, 40%);
  border-radius: 0.5em;
  box-shadow: 1px 1px 0.5em black inset;
}

/* Inline code */
.card.nightMode :not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.3em;
  border: 0.13em solid hsl(30, 20%, 40%);
  box-shadow: 1px 1px 0.3em -0.1em black inset;
  white-space: normal;
}

.card.nightMode .token.comment,
.card.nightMode .token.prolog,
.card.nightMode .token.doctype,
.card.nightMode .token.cdata {
  color: hsl(30, 20%, 50%);
}

.card.nightMode .token.punctuation {
  opacity: 0.7;
}

.card.nightMode .token.namespace {
  opacity: 0.7;
}

.card.nightMode .token.property,
.card.nightMode .token.tag,
.card.nightMode .token.boolean,
.card.nightMode .token.number,
.card.nightMode .token.constant,
.card.nightMode .token.symbol {
  color: hsl(350, 40%, 70%);
}

.card.nightMode .token.selector,
.card.nightMode .token.attr-name,
.card.nightMode .token.string,
.card.nightMode .token.char,
.card.nightMode .token.builtin,
.card.nightMode .token.inserted {
  color: hsl(75, 70%, 60%);
}

.card.nightMode .token.operator,
.card.nightMode .token.entity,
.card.nightMode .token.url,
.card.nightMode .language-css .token.string,
.card.nightMode .style .token.string,
.card.nightMode .token.variable {
  color: hsl(40, 90%, 60%);
}

.card.nightMode .token.atrule,
.card.nightMode .token.attr-value,
.card.nightMode .token.keyword {
  color: hsl(350, 40%, 70%);
}

.card.nightMode .token.regex,
.card.nightMode .token.important {
  color: #e90;
}

.card.nightMode .token.important,
.card.nightMode .token.bold {
  font-weight: bold;
}
.card.nightMode .token.italic {
  font-style: italic;
}

.card.nightMode .token.entity {
  cursor: help;
}

.card.nightMode .token.deleted {
  color: red;
}
